version: '3.8'

services:
  vote:
    image: chinmayee606/vote:latest     # Your custom vote image
    ports:
      - "80:80"                         # Map port 80 (host) → 80 (container)
    networks:
      - front-tier                       # Connects this service to both front-tier and back-tier networks
      - back-tier
    environment:
      - REDIS_HOST=redis                # Point vote app to Redis service Sets environment variable telling the vote app where to find Redis

  result:
    image: chinmayee606/result:latest   # Your custom result image
    ports:
      - "8081:80"                       # Map port 8081 (host) → 80 (container)
    networks:
      - front-tier                     # Connects this service to both front-tier and back-tier networks  
      - back-tier
    environment:
      - POSTGRES_HOST=db              # Point result app to Postgres service
      - POSTGRES_USER=postgres        # Uses service name 'db' for database host (resolved by Docker DNS)
      - POSTGRES_PASSWORD=postgres
      - DB_NAME=postgres
      - REDIS_HOST=redis              # Point result app to Redis service

  worker:
    image: chinmayee606/worker:latest
    networks:
      - back-tier
    environment:
      - REDIS_HOST=redis              # Point worker to Redis service 
      - POSTGRES_HOST=db              # Point worker to Postgres service
      - POSTGRES_USER=postgres      
      - POSTGRES_PASSWORD=postgres
      - DB_NAME=postgres

  redis:
    image: redis:alpine               # Lightweight Redis image
    networks:               # Connects Redis to back-tier network only : internal service communication 
      - back-tier       

  db:
    image: postgres:15-alpine      # Lightweight Postgres image
    networks:
      - back-tier
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - db-data:/var/lib/postgresql/data    # Stores data in /var/lib/postgresql/data inside the container Prevents data loss when container is recreated

networks:
  front-tier:
  back-tier:

volumes:
  db-data:
